<a href="https://colab.research.google.com/github/ArkaBhowmik-666-Lucifer/StrawHats/blob/main/Random_Forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [69]:
!pip install streamlit --quiet
!pip install pyngrok==4.1.1 --quiet

In [70]:
from __future__ import print_function
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import classification_report
from sklearn import metrics
from sklearn import tree
import warnings
warnings.filterwarnings('ignore')
import pickle
from pyngrok import ngrok
import os

In [71]:
df=pd.read_excel("/content/drive/MyDrive/Madara_Time/Crop Recommendation.xlsx")

In [72]:
df.head()

   Temperature   Humidity        pH    Rainfall Label
0    20.879744  82.002744  6.502985  202.935536  Rice
1    21.770462  80.319644  7.038096  226.655537  Rice
2    23.004459  82.320763  7.840207  263.964248  Rice
3    26.491096  80.158363  6.980401  242.864034  Rice
4    20.130175  81.604873  7.628473  262.717340  Rice

In [73]:
df.tail()

      Temperature   Humidity        pH    Rainfall    Label
6995    19.194357  35.963156  6.425478  762.042570  Mustard
6996    23.493703  31.379660  6.134113  765.190596  Mustard
6997    18.190361  42.783204  6.872391  904.892120  Mustard
6998    23.148364  41.001895  6.185536  731.770490  Mustard
6999    24.180054  42.368177  6.473565  906.173454  Mustard

In [74]:
df.columns

Index(['Temperature', 'Humidity', 'pH', 'Rainfall', 'Label'], dtype='object')

In [75]:
df.shape

(7000, 5)

In [76]:
df.nunique()

Temperature    6999
Humidity       6999
pH             6995
Rainfall       7000
Label            70
dtype: int64

In [77]:
df.dtypes

Temperature    float64
Humidity       float64
pH             float64
Rainfall       float64
Label           object
dtype: object

In [78]:
df['Label'].value_counts()

Rice              100
Lettuce           100
Rajma             100
Turmeric          100
Guava             100
                 ...
Green Chillies    100
Carrot            100
Ginger            100
Garlic            100
Mustard           100
Name: Label, Length: 70, dtype: int64

In [79]:
#Seperating features and target label
features = df[['Temperature', 'Humidity', 'pH', 'Rainfall']]
target = df['Label']
labels = df['Label']

In [80]:
# Initializing empty lists to append all model's name and corresponding name
acc = []
model = []

In [81]:
 #Splitting into train and test data
from sklearn.model_selection import train_test_split
Xtrain, Xtest, Ytrain, Ytest = train_test_split(features,target,test_size = 0.2,random_state =2)

In [82]:
#Random Forest
from sklearn.ensemble import RandomForestClassifier
RF = RandomForestClassifier(n_estimators=20, random_state=0)
RF.fit(Xtrain,Ytrain)
predicted_values = RF.predict(Xtest)
x = metrics.accuracy_score(Ytest, predicted_values)
acc.append(x)
model.append('RF')
print("RF's Accuracy is: ", x)
print(classification_report(Ytest,predicted_values))

RF's Accuracy is:  0.965
                  precision    recall  f1-score   support

        Aleovera       1.00      1.00      1.00        24
           Apple       0.92      0.96      0.94        25
        Arecanut       0.95      0.95      0.95        20
     Ashwagandha       0.93      1.00      0.97        14
           Bajra       1.00      1.00      1.00        23
          Banana       1.00      1.00      1.00        24
        Beetroot       1.00      1.00      1.00        21
       Blackgram       1.00      1.00      1.00        28
         Brinjal       0.88      1.00      0.94        23
        Broccoli       1.00      1.00      1.00        24
Button Mushrooms       0.75      0.88      0.81        24
        Cabbagge       0.96      1.00      0.98        23
        Capsicum       0.84      1.00      0.91        16
          Carrot       1.00      1.00      1.00        14
      Cashewnuts       1.00      0.95      0.98        21
     Cauliflower       1.00      1.00      1.00        18
        Chickpea       1.00      1.00      1.00        23
 Chinese Cabbage       0.88      0.70      0.78        20
         Coconut       1.00      1.00      1.00        19
          Coffee       0.90      0.83      0.86        23
       Coriander       1.00      0.91      0.95        23
            Corn       0.92      0.92      0.92        12
          Cotton       0.95      1.00      0.97        19
        Cucumber       0.81      0.93      0.87        14
     DragonFruit       1.00      1.00      1.00        32
       Drumstick       1.00      1.00      1.00        16
    French Beans       1.00      1.00      1.00        28
          Garlic       1.00      1.00      1.00        18
          Ginger       1.00      1.00      1.00        17
          Grapes       1.00      0.96      0.98        24
  Green Chillies       0.95      1.00      0.97        18
      Green Peas       1.00      1.00      1.00        20
       Groundnut       1.00      1.00      1.00        18
           Guava       1.00      1.00      1.00        17
       Jackfruit       1.00      1.00      1.00        14
            Jute       0.95      0.95      0.95        21
     Kidneybeans       1.00      1.00      1.00        21
   Lady's Finger       1.00      1.00      1.00        16
         Lettuce       1.00      1.00      1.00        14
          Litchi       0.92      0.92      0.92        26
           Maize       0.95      1.00      0.98        21
           Mango       0.94      1.00      0.97        15
        Marigold       1.00      0.96      0.98        25
       Mothbeans       1.00      0.94      0.97        18
       Mungbeans       1.00      0.95      0.98        22
       Muskmelon       1.00      1.00      1.00        16
         Mustard       0.96      1.00      0.98        22
           Olive       1.00      0.96      0.98        23
           Onion       1.00      1.00      1.00        20
          Orange       0.88      0.92      0.90        25
          Papaya       1.00      1.00      1.00        21
      Piegonpeas       1.00      0.86      0.93        22
     Pomegranate       0.91      0.84      0.87        25
     Poppy Seeds       1.00      1.00      1.00        20
          Potato       0.94      1.00      0.97        16
          Pulses       0.93      1.00      0.97        14
         Pumpkin       0.95      1.00      0.97        18
          Radish       1.00      1.00      1.00        21
           Rajma       1.00      1.00      1.00        22
            Rice       0.92      0.61      0.73        18
            Rose       0.83      0.95      0.89        21
         Soybean       1.00      1.00      1.00        14
         Spinach       1.00      0.89      0.94        19
       Sugarcane       1.00      1.00      1.00        23
    Sweet Potato       0.93      0.88      0.90        16
             Tea       1.00      1.00      1.00        13
          Tomato       1.00      1.00      1.00        20
        Turmeric       1.00      1.00      1.00        17
         Walnuts       1.00      1.00      1.00        24
      Watermelon       0.93      1.00      0.97        14

        accuracy                           0.96      1400
       macro avg       0.97      0.97      0.96      1400
    weighted avg       0.97      0.96      0.96      1400

In [83]:
#Saving trained Random Forest model
import pickle

# Dump the trained Naive Bayes classifier with Pickle
RF_pkl_filename = 'RandomForest.pkl'

# Open the file to save as pkl file
RF_Model_pkl = open(RF_pkl_filename, 'wb')
pickle.dump(RF, RF_Model_pkl)

# Close the pickle instances
RF_Model_pkl.close()

In [84]:
data = np.array([[45, 88, 7.6, 400]])
prediction = RF.predict(data)
print(prediction)

['Jackfruit']

In [85]:
data = np.array([[12, 43, 7.6, 100]])
prediction = RF.predict(data)
print(prediction)

['Garlic']

In [86]:
data = np.array([[37,20,4,110]])
prediction = RF.predict(data)
print(prediction)

['Kidneybeans']

In [91]:
%%writefile CropRecommedation.py
import streamlit as st
# loading the saved model
loaded_model = pickle.load(open('RandomForest.pkl', 'rb'))
# creating a function for Prediction
def crop_prediction(input_data):
# changing the input_data to numpy array
    input_data_as_numpy_array = np.asarray(input_data)
# reshape the array as we are predicting for one instance
    input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)
    prediction = loaded_model.predict(input_data_reshaped)
    print(prediction)
def main():
# giving a title
    st.title('StrawHats-Crop Prediction App')
# getting the input data from the user
    Temperature = st.text_input('Enter the Temperature')
    Humidity= st.text_input('Enter the Humidity')
    pH = st.text_input('Enter the pH')
    Rainfall = st.text_input('Enter the Rainfall')
# code for Prediction
    predict = ''
# creating a button for Prediction
    if st.button('Crop Prediction Test Result'):
        predict = crop_prediction([Temperature,Humidity,pH,Rainfall])
    st.success(predict)
if __name__ == '__main__':
    main()

Overwriting CropRecommedation.py